{{FrontSide}}

<br />

<div id="backside">
  <hr id="answer" />

  <div>{{Audio}}</div>
  <span id="pinyin"> {{Pinyin}}<br /></span>
  <span>{{#POS}}({{POS}}){{/POS}} {{Meaning}}</span>

  <div id="characters-target-div-quiz"></div>
  <div id="beispiel">
    <h3>Beispielsatz:</h3>
    {{Example sentence chinese}}
    <br />
    <span id="exampleSentencePinyin"> {{Example sentence pinyin}} </span>
    <br />
    {{Example sentence translation}}
    <div />
  </div>
</div>
<script>
  initializeCharsTargetQuiz("{{Chinese}}", true);
</script>
