<div id="characters-target-div" style="display: block"></div>

<br />

<div id="backside">
  <hr id="answer" />

  <div>{{Audio}}</div>
  <span id="pinyin" style=" Unicode MS; font-size: 26px; 07f"
    >{{Pinyin}}<br /><span style="font-family: Gentium; font-size: 22px"
      >{{Meaning}}</span
    ></span
  >

  <div id="characters-target-div-quiz"></div>
  <div id="beispiel">
    <h3>Beispielsatz:</h3>
    {{Example sentence chinese}}
    <br />
    <span id="exampleSentencePinyin"> {{Example sentence pinyin}} </span>
    <br />
    {{Example sentence translation}}
    <div />
  </div>

  <script>
    initializeCharsTarget();
    initializeCharsTargetQuiz(true);
  </script>
</div>
