<script>
  // utils
  function createButton(id, innerHTML, onclick) {
    const button = document.createElement("button");
    button.className = "quizButton";
    button.id = id;
    button.innerHTML = innerHTML;
    button.onclick = onclick;
    return button;
  }

  function removeFadeOut(el, speed) {
    el.style.transition = `opacity ${speed}ms linear`;
    el.style.opacity = 0;
    setTimeout(() => el.remove(), speed);
  }

  function getTones(pinyin) {
    function getToneNumber(diac) {
      var allDiacs = ["āēīōūǖ", "áéíóúǘ", "ǎěǐǒǔǚ", "àèìòùǜ", "aeiouür"];
      for (var i = 0; i < allDiacs.length; i++) {
        if (allDiacs[i].includes(diac)) {
          return i + 1;
        }
      }
      return 0;
    }
    var a = "([aāáǎà])";
    var e = "([eēéěè])";
    var ae = "([aāáǎàeēéěè])";
    var i = "([iīíǐì])";
    var o = "([oōóǒò])";
    var u = "([uūúǔùüǖǘǚǜ])";
    var eu = "([eēéěèuūúǔù])";
    // prettier-ignore
    var regex=
         '(?:'
           +'(?:'
             +'mi'+u
             +'|[pm]'+o+'u'
             +'|[bpm](?:'
                 +o
                 +'|'+e+'(?:i|ng??)?'
                 +'|'+a+'(?:ng?|i|o)?'
                 +'|i(?:'+e+'|'+a+'[no])'
                 +'|'+i+'(?:ng?)?'
                 +'|'+u
               +')'
             +')'
           +'|(?:f(?:'+o+'u?|'+ae+'(?:ng?|i)?|'+u+'))'
           +'|(?:'
             +'d(?:'+e+'(?:i|ng?)|i(?:'+a+'[on]?|'+u+'))'
             +'|[dt](?:'
                 +a+'(?:i|ng?|o)?'
                 +'|'+e+'(?:i|ng)?'
                 +'|i(?:'+a+'[on]?|'+eu+')'
                 +'|'+i+'(?:ng)?'
                 +'|'+o+'(?:ng?|u)'
                 +'|u(?:'+o+'|'+i+'|'+a+'n?)'
                 +'|'+u+'n?'
               +')'
             +')'
           +'|(?:'
             +'n'+e+'ng?'
             +'|[ln](?:'
                 +a+'(?:i|ng?|o)?'
                 +'|'+e+'(?:i|ng)?'
                 +'|i(?:'+a+'ng|'+a+'[on]?|'+e+'|'+u+')'
                 +'|'+i+'(?:ng?)?'
                 +'|'+o+'(?:ng?|u)'
                 +'|u(?:'+o+'|'+a+'n?)'
                 +'|ü'+e+'?'
                 +'|'+u+'n?'
               +')'
             +')'
           +'|(?:[ghk](?:'+a+'(?:i|ng??|o)?|'+e+'(?:i|ng?)?|'+o+'(?:u|ng)|u(?:'+a+'(?:i|ng??)??|'+i+'|'+o+')|'+u+'n?))'
           +'|(?:zh?'+e+'i|[cz]h?(?:'+e+'(?:ng?)?|'+o+'(?:ng?|u)?|'+a+'o|u?'+a+'(?:i|ng?)?|u?(?:'+o+'|'+i+')|'+u+'n?))'
           +'|(?:'
             +'s'+o+'ng'
             +'|shu'+a+'(?:i|ng?)?'
             +'|sh'+e+'i'
             +'|sh?(?:'
                 +a+'(?:i|ng?|o)?'
                 +'|'+e+'n?g?'
                 +'|'+o+'u'
                 +'|u(?:'+a+'n|'+o+'|'+i+')'
                 +'|'+u+'n?'
                 +'|'+i
               +')'
             +')'
           +'|(?:'
             +'r(?:'
               +ae+'ng?'
               +'|'+i
               +'|'+e
               +'|'+a+'o'
               +'|'+o+'u'
               +'|'+o+'ng'
               +'|u(?:'+o+'|'+i+')'
               +'|u'+a+'n?'
               +'|'+u+'n?'
               +')'
             +'|(r)'
             +')'
           +'|(?:[jqx](?:i(?:'+a+'(o|ng??)?|(?:'+e+'|'+u+')|'+o+'ng)|'+i+'(?:ng?)??|u(?:'+e+'|'+a+'n)|'+u+'n??))'
           +'|(?:'
             +'(?:'
                 +a+'(?:i|o|ng?)?'
                 +'|'+o+'u?'
                 +'|'+e+'(?:i|ng?|r)?'
               +')'
             +')'
           +'|(?:w(?:'+a+'(?:i|ng??)?|'+o+'|'+e+'(?:i|ng?)?|'+u+'))'
           +'|y(?:'+a+'(?:o|ng??)?|'+e+'|'+i+'(?:ng?)?|'+o+'(?:u|ng)?|u(?:'+e+'|'+a+'n)|'+u+'n??)'
         +')'
         +'([12345])?';
    pinyin = pinyin.normalize().toLowerCase().trim();
    //pinyin = pinyin.split('/')[0];
    const re = new RegExp(regex, "g");
    const matches = pinyin.matchAll(re);
    var tones = Array.from(matches).map(function (match) {
      var m = match;
      m.shift();
      var diac = m.filter(function (v) {
        return v !== undefined;
      });
      if (diac.length > 0) {
        if (diac.length > 1 && "12345".includes(diac[1])) {
          return parseInt(diac[1]); // tone as pinyin number
        } else {
          return getToneNumber(diac[0]); // tone as pinyin diacritic
        }
      } else {
        return 0;
      }
    });
    return tones;
  }

  function toneToColor(tone) {
    switch (tone) {
      case 1:
      case 2:
      case 3:
      case 4:
      case 5:
        return dconfig.pinyin[`tone${tone}`];
      default:
        console.error("Invalid tone: " + tone);
    }
  }

  function colorPinyin(pinyinElement, pinyin) {
    var res = "";
    var rest = pinyin;
    for (const syllable of separatePinyinInSyllables(pinyin, false)) {
      const tone = getTones(syllable);
      var coloredSyllable = "";
      if (tone.length === 0) {
        coloredSyllable = syllable;
      } else {
        const color = toneToColor(tone[0]);
        coloredSyllable = `<span style="color:${color}">${syllable}</span>`;
      }

      const pos = rest.search(syllable);
      if (pos === -1) {
        throw new Error(`Syllable ${syllable} not found in pinyin ${rest}: `);
      }
      const curr = rest.slice(0, pos + syllable.length);
      rest = rest.slice(pos + syllable.length);
      res += curr.replace(syllable, coloredSyllable);
    }

    pinyinElement.innerHTML = res;
  }

  function colorPinyinElement(pinyin) {
    var pinyinElement = document.getElementById("pinyin");
    colorPinyin(pinyinElement, pinyin);
  }
  function colorPinyinSentenceElement(pinyin) {
    var pinyinElement = document.getElementById("exampleSentencePinyin");
    colorPinyin(pinyinElement, pinyin);
  }

  async function hanziCharsFrom(chinese) {
    const hanziChars = [];
    for (const c of Array.from(chinese)) {
      const b = await hanziCharExistsP(c);
      if (b) {
        hanziChars.push(c);
      }
    }
    return hanziChars;
  }

  async function initializeCharsTarget(chinese, pinyin, colorp) {
    const charsTarget = document.getElementById("characters-target-div");

    let tones = getTones(pinyin);
    const onlyHanzi = await hanziCharsFrom(chinese);
    const tonesWrong = tones.length !== onlyHanzi.length;
    if (tonesWrong) {
      console.error(
        "Tones array is shorter than characters: " +
          tones.length +
          " vs " +
          onlyHanzi.length,
      );
    }
    for (const c of chinese) {
      const charTarget = document.createElement("div");
      charsTarget.appendChild(charTarget);
      charTarget.style.display = "inline";
      const b = await hanziCharExistsP(c);
      if (b) {
        if (!tonesWrong && colorp) {
          var strokeColor = toneToColor(tones.shift());
        } else {
          var strokeColor = "#555";
        }
        const writer = HanziWriter.create(charTarget, c, {
          width: 100,
          height: 100,
          padding: 5,
          strokeColor: strokeColor,
          radicalColor: "#168F16", // green
        });
      } else {
        charTarget.innerHTML = c;
        charTarget.style.fontFamily = "Source Han Serif, SimSun";
        charTarget.style.fontSize = "80px";
        charTarget.style.verticalAlign = "20px";
      }
    }
  }
</script>
